/* Define default (light mode) variables */
:root {
    --bg-color: white;
    --text-color: black;
    --card-bg-color: rgb(150, 150, 118);
    --title-color : red;
    --search-bar-bgc : 2px solid rgba(0, 0, 0, 0.4);
    --card-border : 2px solid rgba(0, 0, 0, 0.5);
    --searchInput-color : rgb(0, 0, 0);
    --card-shadow : 8px 8px 2px 0px rgba(0,0,0, 0.3);
}

/* Dark mode styles */
.dark-mode {
    --bg-color: rgb(63, 63, 63);
    --text-color: white;
    --card-bg-color: rgb(37, 37, 37);
    --card-border : 2px solid rgba(255, 255, 255, 0.5);
    --title-color : yellow;
    --search-bar-bgc : 2px solid rgba(255, 255, 255, 0.4);
    --searchInput-color : white;
    --card-shadow : 8px 8px 2px 0px rgba(255, 255, 255, 0.264);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100%;
    font-family: "Caveat",cursive;
    transition: background-color 0.3s, color 0.3s;
}

#theme-toggle {
    padding: 8px 16px;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    background-color: #00000000;
    border-radius: 4px;
}

.navbar {
    padding-inline: 24px;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    margin-inline: auto;
    position: sticky;
    top: 0;
}

#title {
    font-size: xx-large;
    margin: 10px;
    color: var(--title-color);
}

#tools {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 16px;
}

#search-bar {
    display: flex;
    align-items: center;
    margin: 8px 28px;
    border: var(--search-bar-bgc);
    border-radius: 16px;
    padding: 8px;
}

#searchInput {
    background: none;
    width: 80%;
    margin-inline: 8px;
    display: block;
    border: none;
    font-size: 16px;
    outline: none;
    font-size: smaller;
    color: var(--searchInput-color);
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
}

.card {
    height: 248px;
    width: 196px;
    background-color: var(--card-bg-color);
    border: var(--card-border);
    border-radius: 8px;
    margin: 16px;
    padding: 8px;
    cursor: pointer;
    text-align: center;
}

.card:hover {
    box-shadow: var(--card-shadow);
}

.poke-img {
    height: 60%;
    border-radius: 8px;
    align-items: center;
    padding: 4px;
    margin: 8px 0px;
}

.poke-img > img {
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
}

footer {
    text-align: center;
}

#loading {
    background: none;
    padding: 4px;
    height: 50px;
}


@media (max-width: 480px) {
    .card {
       height: 218px;
       width: 148px;
    }
}